# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
#*.dll
*.so
*.so.*
*.dylib

# Executables
#*.exe
*.out
*.app
CWSStart.Web/CWSStart.Web/App_Data/TEMP/ClientDependency/*
CWSStart.Web/CWSStart.Web/App_Data/TEMP/ExamineIndexes/*
CWSStart.Web/CWSStart.Web/App_Data/TEMP/PluginCache/*
CWSStart.Web/CWSStart.Web/obj/*
CWSStart.Web/packages/*
