<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT CWS-Contact-Form ANY>
<!ATTLIST CWS-Contact-Form id ID #REQUIRED>
<!ELEMENT CWS-Forgotten-Password ANY>
<!ATTLIST CWS-Forgotten-Password id ID #REQUIRED>
<!ELEMENT CWS-Galleries ANY>
<!ATTLIST CWS-Galleries id ID #REQUIRED>
<!ELEMENT CWS-Gallery ANY>
<!ATTLIST CWS-Gallery id ID #REQUIRED>
<!ELEMENT CWS-Home ANY>
<!ATTLIST CWS-Home id ID #REQUIRED>
<!ELEMENT CWS-Login ANY>
<!ATTLIST CWS-Login id ID #REQUIRED>
<!ELEMENT CWS-Master ANY>
<!ATTLIST CWS-Master id ID #REQUIRED>
<!ELEMENT CWS-News ANY>
<!ATTLIST CWS-News id ID #REQUIRED>
<!ELEMENT CWS-News-Item ANY>
<!ATTLIST CWS-News-Item id ID #REQUIRED>
<!ELEMENT CWS-Photo ANY>
<!ATTLIST CWS-Photo id ID #REQUIRED>
<!ELEMENT CWS-Profile-Edit ANY>
<!ATTLIST CWS-Profile-Edit id ID #REQUIRED>
<!ELEMENT CWS-Register ANY>
<!ATTLIST CWS-Register id ID #REQUIRED>
<!ELEMENT CWS-Reset-Password ANY>
<!ATTLIST CWS-Reset-Password id ID #REQUIRED>
<!ELEMENT CWS-Search ANY>
<!ATTLIST CWS-Search id ID #REQUIRED>
<!ELEMENT CWS-Textpage ANY>
<!ATTLIST CWS-Textpage id ID #REQUIRED>
<!ELEMENT CWS-Verify-Email ANY>
<!ATTLIST CWS-Verify-Email id ID #REQUIRED>
<!ELEMENT CWS-XML-Sitemap ANY>
<!ATTLIST CWS-XML-Sitemap id ID #REQUIRED>

]>
<root id="-1">
  <CWS-Home id="1056" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-07-25T14:26:40" updateDate="2013-08-05T11:54:04" nodeName="Home" urlName="home" path="-1,1056" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="1046" nodeTypeAlias="CWS-Home">
    <umbracoNaviHide>0</umbracoNaviHide>
    <hideInNavigationLoggedIn>0</hideInNavigationLoggedIn>
    <bodyText><![CDATA[<h1>Welcome</h1>
<p>Hello there &amp; welcome to the CWS Start. An Umbraco MVC starter site for you to pull apart and understand how to build your own Umbraco websites.</p>]]></bodyText>
    <featureOne><![CDATA[<h2>Source Code Available</h2>
<p>This package is not closed source and will never ever will be. The whole purpose of this project is for people to learn how the website site was built, so any compiled code is easily available by downloading the source code from the project on GitHub</p>]]></featureOne>
    <featureTwo><![CDATA[<h2>Built on BootStrap</h2>
<p>Due to it's popularity and the vast number of themes, jQuery plugins, CSS WebFonts and the such it was a decision to use Bootstrap to build the CWS Start project on it. Rather than having to learn a new framework or a priopitery one that I would have written.</p>]]></featureTwo>
    <featureThree><![CDATA[<h2>Built for all to learn</h2>
<p>This website package starter kit is designed for a vast number of audiences from the absolute novice to Umbraco to the more vetran Umbraco user who may want to pick up a trick or two. So why not take a look through the well documented &amp; commented code and pick up something new today.</p>]]></featureThree>
    <smtpServer>smtp.mandrillapp.com</smtpServer>
    <smtpUsername>warren@creativewebspecialist.co.uk</smtpUsername>
    <smtpPassword>h4GMK-gX9CB7KXjUePMNaA</smtpPassword>
    <CWS-Textpage id="1057" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2013-07-25T14:27:10" updateDate="2013-08-02T14:54:00" nodeName="About" urlName="about" path="-1,1056,1057" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="1047" nodeTypeAlias="CWS-Textpage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInNavigationLoggedIn>0</hideInNavigationLoggedIn>
      <bodyText><![CDATA[<p>I am some copy in the about page. </p>
<p>orem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquet tincidunt aliquam. Vivamus eget feugiat purus. Curabitur gravida turpis id nisi fringilla, eget ullamcorper metus dictum. Ut vitae sapien risus<strong>. Curabitur vitae enim non odio rutrum iaculis. Integer volutpat, leo a porttitor sodales, libe</strong>ro augue tincidunt massa, at ultrices neque nulla vel justo. Sed pellentesque egestas dui vehicula consequat. Ut laoreet tempor nulla sit amet tristique.</p>
<p>Sed vulputate urna id vestibulum porta. Mauris at dapibus nibh. Maecenas sit amet nulla a quam iaculis cursus non fringilla lacus. Integer pellentesque tristique est in rutrum. Ut risus lorem, tincidunt vitae erat ac, placerat feugiat lorem. Sed molestie metus tellus, eget pharetra ipsum condimentum nec. Phasellus vitae ante quam. Mauris congue sodales nunc ut ornare. Vivamus scelerisque luctus elit ut dictum. Nam auctor dui eu libero gravida, </p>]]></bodyText>
      <subText><![CDATA[<p>I am in the <strong>subtext</strong> column</p>]]></subText>
      <CWS-Textpage id="1076" parentID="1057" level="3" creatorID="0" sortOrder="0" createDate="2013-07-25T14:53:00" updateDate="2013-08-02T14:54:00" nodeName="About Umbraco" urlName="about-umbraco" path="-1,1056,1057,1076" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="1047" nodeTypeAlias="CWS-Textpage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <hideInNavigationLoggedIn>0</hideInNavigationLoggedIn>
        <bodyText><![CDATA[]]></bodyText>
        <subText><![CDATA[]]></subText>
        <CWS-Textpage id="1100" parentID="1076" level="4" creatorID="0" sortOrder="0" createDate="2013-07-31T12:42:07" updateDate="2013-08-02T14:54:00" nodeName="Something Else" urlName="something-else" path="-1,1056,1057,1076,1100" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="1047" nodeTypeAlias="CWS-Textpage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <hideInNavigationLoggedIn>0</hideInNavigationLoggedIn>
          <bodyText><![CDATA[]]></bodyText>
          <subText><![CDATA[]]></subText>
        </CWS-Textpage>
      </CWS-Textpage>
      <CWS-Textpage id="1101" parentID="1057" level="3" creatorID="0" sortOrder="1" createDate="2013-07-31T12:42:18" updateDate="2013-08-02T14:54:00" nodeName="About the Project" urlName="about-the-project" path="-1,1056,1057,1101" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="1047" nodeTypeAlias="CWS-Textpage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <hideInNavigationLoggedIn>0</hideInNavigationLoggedIn>
        <bodyText><![CDATA[]]></bodyText>
        <subText><![CDATA[]]></subText>
      </CWS-Textpage>
    </CWS-Textpage>
    <CWS-News id="1062" parentID="1056" level="2" creatorID="0" sortOrder="1" createDate="2013-07-25T14:30:10" updateDate="2013-08-02T16:17:43" nodeName="News" urlName="news" path="-1,1056,1062" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="CWS-News">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInNavigationLoggedIn>0</hideInNavigationLoggedIn>
      <bodyText><![CDATA[]]></bodyText>
      <subText><![CDATA[]]></subText>
      <CWS-News-Item id="1095" parentID="1062" level="3" creatorID="0" sortOrder="0" createDate="2013-07-31T11:06:50" updateDate="2013-08-02T16:12:35" nodeName="CWS for Umbraco gets rebooted as CWS Start" urlName="cws-for-umbraco-gets-rebooted-as-cws-start" path="-1,1056,1062,1095" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1052" nodeTypeAlias="CWS-News-Item">
        <umbracoNaviHide>0</umbracoNaviHide>
        <hideInNavigationLoggedIn>0</hideInNavigationLoggedIn>
        <bodyText><![CDATA[<p>The CWS project has been rebooted after a good few years of the project being inactive. CWS or as it was original known was Creative Website Starter kit for Umbraco was a good foundation to anyone new to the Umbraco platform.</p>
<p>Unfortunatly time passed and I struggled to support it and fell out of love with it. This time I am removing the bad stuff from it such as sIFR and building this on a plain old vanilla instance of Bootstrap 3 RC1</p>
<p> </p>]]></bodyText>
        <subText><![CDATA[]]></subText>
      </CWS-News-Item>
    </CWS-News>
    <CWS-Galleries id="1065" parentID="1056" level="2" creatorID="0" sortOrder="2" createDate="2013-07-25T14:33:45" updateDate="2013-08-02T14:54:00" nodeName="Gallery" urlName="gallery" path="-1,1056,1065" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="1049" nodeTypeAlias="CWS-Galleries">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInNavigationLoggedIn>0</hideInNavigationLoggedIn>
      <CWS-Gallery id="1066" parentID="1065" level="3" creatorID="0" sortOrder="0" createDate="2013-07-25T14:33:55" updateDate="2013-08-02T14:54:00" nodeName="CodeGarden 13" urlName="codegarden-13" path="-1,1056,1065,1066" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="CWS-Gallery">
        <umbracoNaviHide>0</umbracoNaviHide>
        <hideInNavigationLoggedIn>0</hideInNavigationLoggedIn>
        <CWS-Photo id="1104" parentID="1066" level="4" creatorID="0" sortOrder="0" createDate="2013-07-31T13:54:22" updateDate="2013-08-02T14:54:00" nodeName="Venue" urlName="venue" path="-1,1056,1065,1066,1104" isDoc="" nodeType="1103" creatorName="admin" writerName="admin" writerID="0" template="1102" nodeTypeAlias="CWS-Photo">
          <umbracoNaviHide>0</umbracoNaviHide>
          <hideInNavigationLoggedIn>0</hideInNavigationLoggedIn>
          <photo>/media/1001/venue.jpg</photo>
          <photoCredit>Douglas Robar</photoCredit>
          <photoCreditLink>http://www.flickr.com/photos/percipientstudios/9015603366/in/set-72157634065737160/</photoCreditLink>
        </CWS-Photo>
        <CWS-Photo id="1105" parentID="1066" level="4" creatorID="0" sortOrder="1" createDate="2013-07-31T14:13:29" updateDate="2013-08-02T16:29:29" nodeName="Hoodie" urlName="hoodie" path="-1,1056,1065,1066,1105" isDoc="" nodeType="1103" creatorName="admin" writerName="admin" writerID="0" template="1102" nodeTypeAlias="CWS-Photo">
          <umbracoNaviHide>0</umbracoNaviHide>
          <hideInNavigationLoggedIn>0</hideInNavigationLoggedIn>
          <photo>/media/1002/hoodie.jpg</photo>
          <photoCredit>Douglas Robar</photoCredit>
          <photoCreditLink>http://www.flickr.com/photos/percipientstudios/9015601712/in/set-72157634065737160</photoCreditLink>
        </CWS-Photo>
        <CWS-Photo id="1114" parentID="1066" level="4" creatorID="0" sortOrder="2" createDate="2013-08-02T16:30:43" updateDate="2013-08-02T16:32:16" nodeName="Keynote" urlName="keynote" path="-1,1056,1065,1066,1114" isDoc="" nodeType="1103" creatorName="admin" writerName="admin" writerID="0" template="1102" nodeTypeAlias="CWS-Photo">
          <umbracoNaviHide>0</umbracoNaviHide>
          <hideInNavigationLoggedIn>0</hideInNavigationLoggedIn>
          <photo>/media/1003/keynote.jpg</photo>
          <photoCredit>Douglas Robar</photoCredit>
          <photoCreditLink>http://www.flickr.com/photos/percipientstudios/9026543034/in/set-72157634065737160</photoCreditLink>
        </CWS-Photo>
        <CWS-Photo id="1115" parentID="1066" level="4" creatorID="0" sortOrder="3" createDate="2013-08-02T16:32:34" updateDate="2013-08-02T16:33:53" nodeName="Dinner" urlName="dinner" path="-1,1056,1065,1066,1115" isDoc="" nodeType="1103" creatorName="admin" writerName="admin" writerID="0" template="1102" nodeTypeAlias="CWS-Photo">
          <umbracoNaviHide>0</umbracoNaviHide>
          <hideInNavigationLoggedIn>0</hideInNavigationLoggedIn>
          <photo>/media/1004/dinner.jpg</photo>
          <photoCredit>Douglas Robar</photoCredit>
          <photoCreditLink>http://www.flickr.com/photos/percipientstudios/9039247947/in/set-72157634065737160</photoCreditLink>
        </CWS-Photo>
        <CWS-Photo id="1116" parentID="1066" level="4" creatorID="0" sortOrder="4" createDate="2013-08-02T16:35:14" updateDate="2013-08-02T16:35:27" nodeName="Ole Earling" urlName="ole-earling" path="-1,1056,1065,1066,1116" isDoc="" nodeType="1103" creatorName="admin" writerName="admin" writerID="0" template="1102" nodeTypeAlias="CWS-Photo">
          <umbracoNaviHide>0</umbracoNaviHide>
          <hideInNavigationLoggedIn>0</hideInNavigationLoggedIn>
          <photo>/media/1005/ole.jpg</photo>
          <photoCredit>Douglas Robar</photoCredit>
          <photoCreditLink>http://www.flickr.com/photos/percipientstudios/9039244413/in/set-72157634065737160</photoCreditLink>
        </CWS-Photo>
      </CWS-Gallery>
      <CWS-Gallery id="1081" parentID="1065" level="3" creatorID="0" sortOrder="1" createDate="2013-07-25T15:40:21" updateDate="2013-08-02T14:54:00" nodeName="CodeGarden 12" urlName="codegarden-12" path="-1,1056,1065,1081" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="CWS-Gallery">
        <umbracoNaviHide>0</umbracoNaviHide>
        <hideInNavigationLoggedIn>0</hideInNavigationLoggedIn>
      </CWS-Gallery>
    </CWS-Galleries>
    <CWS-Contact-Form id="1061" parentID="1056" level="2" creatorID="0" sortOrder="3" createDate="2013-07-25T14:30:00" updateDate="2013-08-02T14:54:00" nodeName="Contact Us" urlName="contact-us" path="-1,1056,1061" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="1048" nodeTypeAlias="CWS-Contact-Form">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInNavigationLoggedIn>0</hideInNavigationLoggedIn>
      <bodyText><![CDATA[]]></bodyText>
      <subText><![CDATA[<p>If you prefer to contact us the old fashioned way then you can</p>
<h3>Phone</h3>
<p>020 7470 8882</p>
<h3>Address</h3>
<p>The CogWorks<br />71 -75 Shelton Street<br />London<br />WC2H 9JQ</p>]]></subText>
    </CWS-Contact-Form>
    <CWS-Login id="1072" parentID="1056" level="2" creatorID="0" sortOrder="4" createDate="2013-07-25T14:48:58" updateDate="2013-08-02T15:15:00" nodeName="Login" urlName="login" path="-1,1056,1072" isDoc="" nodeType="1068" creatorName="admin" writerName="admin" writerID="0" template="1084" nodeTypeAlias="CWS-Login">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInNavigationLoggedIn>1</hideInNavigationLoggedIn>
    </CWS-Login>
    <CWS-Register id="1073" parentID="1056" level="2" creatorID="0" sortOrder="5" createDate="2013-07-25T14:49:08" updateDate="2013-08-02T14:54:00" nodeName="Register" urlName="register" path="-1,1056,1073" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="1085" nodeTypeAlias="CWS-Register">
      <umbracoNaviHide>0</umbracoNaviHide>
      <hideInNavigationLoggedIn>1</hideInNavigationLoggedIn>
    </CWS-Register>
    <CWS-Forgotten-Password id="1090" parentID="1056" level="2" creatorID="0" sortOrder="6" createDate="2013-07-29T15:15:53" updateDate="2013-08-06T14:20:08" nodeName="Forgotten Password" urlName="forgotten-password" path="-1,1056,1090" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="1087" nodeTypeAlias="CWS-Forgotten-Password">
      <umbracoNaviHide>1</umbracoNaviHide>
      <hideInNavigationLoggedIn>1</hideInNavigationLoggedIn>
      <emailFrom />
      <emailSubject />
    </CWS-Forgotten-Password>
    <CWS-Verify-Email id="1075" parentID="1056" level="2" creatorID="0" sortOrder="7" createDate="2013-07-25T14:50:02" updateDate="2013-08-06T14:20:08" nodeName="Verify Email" urlName="verify-email" path="-1,1056,1075" isDoc="" nodeType="1071" creatorName="admin" writerName="admin" writerID="0" template="1089" nodeTypeAlias="CWS-Verify-Email">
      <umbracoNaviHide>1</umbracoNaviHide>
      <hideInNavigationLoggedIn>1</hideInNavigationLoggedIn>
    </CWS-Verify-Email>
    <CWS-Reset-Password id="1074" parentID="1056" level="2" creatorID="0" sortOrder="8" createDate="2013-07-25T14:49:34" updateDate="2013-08-06T14:20:08" nodeName="Reset Password" urlName="reset-password" path="-1,1056,1074" isDoc="" nodeType="1070" creatorName="admin" writerName="admin" writerID="0" template="1088" nodeTypeAlias="CWS-Reset-Password">
      <umbracoNaviHide>1</umbracoNaviHide>
      <hideInNavigationLoggedIn>1</hideInNavigationLoggedIn>
    </CWS-Reset-Password>
    <CWS-Search id="1098" parentID="1056" level="2" creatorID="0" sortOrder="9" createDate="2013-07-31T11:18:27" updateDate="2013-08-06T14:20:09" nodeName="Search" urlName="search" path="-1,1056,1098" isDoc="" nodeType="1097" creatorName="admin" writerName="admin" writerID="0" template="1096" nodeTypeAlias="CWS-Search">
      <umbracoNaviHide>1</umbracoNaviHide>
      <hideInNavigationLoggedIn>1</hideInNavigationLoggedIn>
    </CWS-Search>
    <CWS-XML-Sitemap id="1094" parentID="1056" level="2" creatorID="0" sortOrder="10" createDate="2013-07-31T10:00:48" updateDate="2013-08-06T14:20:09" nodeName="XML Sitemap" urlName="xml-sitemap" path="-1,1056,1094" isDoc="" nodeType="1093" creatorName="admin" writerName="admin" writerID="0" template="1092" nodeTypeAlias="CWS-XML-Sitemap">
      <umbracoNaviHide>1</umbracoNaviHide>
      <hideInNavigationLoggedIn>1</hideInNavigationLoggedIn>
    </CWS-XML-Sitemap>
    <CWS-Profile-Edit id="1080" parentID="1056" level="2" creatorID="0" sortOrder="11" createDate="2013-07-25T15:37:24" updateDate="2013-08-06T14:20:09" nodeName="Profile" urlName="profile" path="-1,1056,1080" isDoc="" nodeType="1078" creatorName="admin" writerName="admin" writerID="0" template="1091" nodeTypeAlias="CWS-Profile-Edit">
      <umbracoNaviHide>1</umbracoNaviHide>
      <hideInNavigationLoggedIn>0</hideInNavigationLoggedIn>
    </CWS-Profile-Edit>
  </CWS-Home>
</root>