<!DOCTYPE root[<!ELEMENT CWS-Search ANY>
<!ATTLIST CWS-Search id ID #REQUIRED>
<!ELEMENT CWS-XML-Sitemap ANY>
<!ATTLIST CWS-XML-Sitemap id ID #REQUIRED>
 
<!ELEMENT CWS-Contact-Form ANY>
<!ATTLIST CWS-Contact-Form id ID #REQUIRED>
<!ELEMENT CWS-Forgotten-Password ANY>
<!ATTLIST CWS-Forgotten-Password id ID #REQUIRED>
<!ELEMENT CWS-Galleries ANY>
<!ATTLIST CWS-Galleries id ID #REQUIRED>
<!ELEMENT CWS-Gallery ANY>
<!ATTLIST CWS-Gallery id ID #REQUIRED>
<!ELEMENT CWS-Home ANY>
<!ATTLIST CWS-Home id ID #REQUIRED>
<!ELEMENT CWS-Login ANY>
<!ATTLIST CWS-Login id ID #REQUIRED>
<!ELEMENT CWS-Master ANY>
<!ATTLIST CWS-Master id ID #REQUIRED>
<!ELEMENT CWS-News ANY>
<!ATTLIST CWS-News id ID #REQUIRED>
<!ELEMENT CWS-News-Item ANY>
<!ATTLIST CWS-News-Item id ID #REQUIRED>
<!ELEMENT CWS-Profile-Edit ANY>
<!ATTLIST CWS-Profile-Edit id ID #REQUIRED>
<!ELEMENT CWS-Register ANY>
<!ATTLIST CWS-Register id ID #REQUIRED>
<!ELEMENT CWS-Reset-Password ANY>
<!ATTLIST CWS-Reset-Password id ID #REQUIRED>
<!ELEMENT CWS-Textpage ANY>
<!ATTLIST CWS-Textpage id ID #REQUIRED>
<!ELEMENT CWS-Verify-Email ANY>
<!ATTLIST CWS-Verify-Email id ID #REQUIRED>

]>
<root id="-1">
  <CWS-Home id="1056" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-07-25T14:26:40" updateDate="2013-07-25T14:26:44" nodeName="Home" urlName="home" path="-1,1056" isDoc="" nodeType="1054" creatorName="admin" writerName="admin" writerID="0" template="1046" nodeTypeAlias="CWS-Home">
    <CWS-Textpage id="1057" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2013-07-25T14:27:10" updateDate="2013-07-25T14:27:12" nodeName="About" urlName="about" path="-1,1056,1057" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="1047" nodeTypeAlias="CWS-Textpage">
      <CWS-Textpage id="1076" parentID="1057" level="3" creatorID="0" sortOrder="0" createDate="2013-07-25T14:53:00" updateDate="2013-07-25T14:53:03" nodeName="About Umbraco" urlName="about-umbraco" path="-1,1056,1057,1076" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="1047" nodeTypeAlias="CWS-Textpage" />
    </CWS-Textpage>
    <CWS-News id="1062" parentID="1056" level="2" creatorID="0" sortOrder="1" createDate="2013-07-25T14:30:10" updateDate="2013-07-30T13:34:34" nodeName="News" urlName="news" path="-1,1056,1062" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="CWS-News">
      <umbracoNaviHide>0</umbracoNaviHide>
      <CWS-News-Item id="1095" parentID="1062" level="3" creatorID="0" sortOrder="0" createDate="2013-07-31T11:06:50" updateDate="2013-07-31T11:06:53" nodeName="CWS for Umbraco gets rebooted as CWS Start" urlName="cws-for-umbraco-gets-rebooted-as-cws-start" path="-1,1056,1062,1095" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="CWS-News-Item">
        <umbracoNaviHide>0</umbracoNaviHide>
      </CWS-News-Item>
    </CWS-News>
    <CWS-Galleries id="1065" parentID="1056" level="2" creatorID="0" sortOrder="2" createDate="2013-07-25T14:33:45" updateDate="2013-07-30T13:34:34" nodeName="Gallery" urlName="gallery" path="-1,1056,1065" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="1049" nodeTypeAlias="CWS-Galleries">
      <umbracoNaviHide>0</umbracoNaviHide>
      <CWS-Gallery id="1066" parentID="1065" level="3" creatorID="0" sortOrder="0" createDate="2013-07-25T14:33:55" updateDate="2013-07-25T14:34:03" nodeName="CodeGarden 13" urlName="codegarden-13" path="-1,1056,1065,1066" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="CWS-Gallery" />
      <CWS-Gallery id="1081" parentID="1065" level="3" creatorID="0" sortOrder="1" createDate="2013-07-25T15:40:21" updateDate="2013-07-25T15:40:24" nodeName="CodeGarden 12" urlName="codegarden-12" path="-1,1056,1065,1081" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="CWS-Gallery" />
    </CWS-Galleries>
    <CWS-Contact-Form id="1061" parentID="1056" level="2" creatorID="0" sortOrder="3" createDate="2013-07-25T14:30:00" updateDate="2013-07-30T13:34:34" nodeName="Contact Us" urlName="contact-us" path="-1,1056,1061" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="1048" nodeTypeAlias="CWS-Contact-Form">
      <umbracoNaviHide>0</umbracoNaviHide>
    </CWS-Contact-Form>
    <CWS-Login id="1072" parentID="1056" level="2" creatorID="0" sortOrder="4" createDate="2013-07-25T14:48:58" updateDate="2013-07-26T07:27:36" nodeName="Login" urlName="login" path="-1,1056,1072" isDoc="" nodeType="1068" creatorName="admin" writerName="admin" writerID="0" template="1084" nodeTypeAlias="CWS-Login" />
    <CWS-Register id="1073" parentID="1056" level="2" creatorID="0" sortOrder="5" createDate="2013-07-25T14:49:08" updateDate="2013-07-29T13:32:21" nodeName="Register" urlName="register" path="-1,1056,1073" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="1085" nodeTypeAlias="CWS-Register" />
    <CWS-Verify-Email id="1075" parentID="1056" level="2" creatorID="0" sortOrder="6" createDate="2013-07-25T14:50:02" updateDate="2013-07-30T13:34:34" nodeName="Verify Email" urlName="verify-email" path="-1,1056,1075" isDoc="" nodeType="1071" creatorName="admin" writerName="admin" writerID="0" template="1089" nodeTypeAlias="CWS-Verify-Email">
      <umbracoNaviHide>1</umbracoNaviHide>
    </CWS-Verify-Email>
    <CWS-Reset-Password id="1074" parentID="1056" level="2" creatorID="0" sortOrder="7" createDate="2013-07-25T14:49:34" updateDate="2013-07-30T13:34:35" nodeName="Reset Password" urlName="reset-password" path="-1,1056,1074" isDoc="" nodeType="1070" creatorName="admin" writerName="admin" writerID="0" template="1088" nodeTypeAlias="CWS-Reset-Password">
      <umbracoNaviHide>1</umbracoNaviHide>
    </CWS-Reset-Password>
    <CWS-Forgotten-Password id="1090" parentID="1056" level="2" creatorID="0" sortOrder="8" createDate="2013-07-29T15:15:53" updateDate="2013-07-30T13:34:35" nodeName="Forgotten Password" urlName="forgotten-password" path="-1,1056,1090" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="1087" nodeTypeAlias="CWS-Forgotten-Password">
      <umbracoNaviHide>1</umbracoNaviHide>
    </CWS-Forgotten-Password>
    <CWS-Profile-Edit id="1080" parentID="1056" level="2" creatorID="0" sortOrder="9" createDate="2013-07-25T15:37:24" updateDate="2013-07-30T13:47:25" nodeName="Edit Profile" urlName="edit-profile" path="-1,1056,1080" isDoc="" nodeType="1078" creatorName="admin" writerName="admin" writerID="0" template="1091" nodeTypeAlias="CWS-Profile-Edit">
      <umbracoNaviHide>1</umbracoNaviHide>
    </CWS-Profile-Edit>
    <CWS-XML-Sitemap id="1094" parentID="1056" level="2" creatorID="0" sortOrder="10" createDate="2013-07-31T10:00:48" updateDate="2013-07-31T10:01:04" nodeName="XML Sitemap" urlName="xml-sitemap" path="-1,1056,1094" isDoc="" nodeType="1093" creatorName="admin" writerName="admin" writerID="0" template="1092" nodeTypeAlias="CWS-XML-Sitemap">
      <umbracoNaviHide>1</umbracoNaviHide>
    </CWS-XML-Sitemap>
    <CWS-Search id="1098" parentID="1056" level="2" creatorID="0" sortOrder="11" createDate="2013-07-31T11:18:27" updateDate="2013-07-31T11:18:32" nodeName="Search" urlName="search" path="-1,1056,1098" isDoc="" nodeType="1097" creatorName="admin" writerName="admin" writerID="0" template="1096" nodeTypeAlias="CWS-Search">
      <umbracoNaviHide>1</umbracoNaviHide>
    </CWS-Search>
  </CWS-Home>
</root>