@using CWSStart.Web.CWSExtensions
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "CWS-Master.cshtml";
}

<h2>@DictionaryHelper.GetDictItem("ForgottenPassword","Forgotten Password")</h2>
@Html.Action("RenderForgottenPassword","AuthSurface")