@using CWSStart.Web.CWSExtensions
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "CWS-Master.cshtml";
}
<h2>@DictionaryHelper.GetDictItem("Register","Register")</h2>
@Html.Action("RenderRegister","AuthSurface")