@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        
        <title>CWS Start - The Umbraco MVC Starter Website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Warren Buckley - A Creative Web Specialist in Umbraco">
        
        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/sticky-footer.css" rel="stylesheet">

        <!-- Custom CWS Start Styles -->
        <link href="/css/cws-start.css" rel="stylesheet">
        
        <!-- Favicons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="../assets/ico/favicon.png">

    </head>
    <body>
        <!-- Wrap all page content here -->
        <div id="wrap">
            
            <!-- Fixed navbar -->
            <div class="navbar navbar-fixed-top">
                <div class="container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">CWS Start</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>

            <!-- Begin page content -->
            <div class="container">
                @RenderBody()
            </div>
        </div>
        
        <!-- Footer -->
        <div id="footer">
            <div class="container">
                <p class="text-muted">
                    CWS Start is an example website starter kit for <a href="http://umbraco.com" target="_blank">the Open Source ASP.NET CMS platform Umbraco</a>. <br/>
                    Built by <a href="http://creativewebspecialist.co.uk" target="_blank">Warren Buckley</a> and 
                    powered by <a href="http://getbootstrap.com" target="_blank">Bootstrap 3RC1 Framework</a>.
                </p>
            </div>
        </div>
        
        <!-- JS Files -->
        <script src="/scripts/jquery-1.10.2.min.js"></script>
        <script src="/scripts/bootstrap.min.js"></script>
        
        @RenderSection("Scripts", false)
    </body>
</html>