@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "CWS-Master.cshtml";
}

@Html.Raw(Model.Content.GetPropertyValue("bodyText"))

<div class="row">
    <div class="col-md-4">
        @Html.Raw(Model.Content.GetPropertyValue("featureOne"))
    </div>
    <div class="col-md-4">
        @Html.Raw(Model.Content.GetPropertyValue("featureTwo"))
    </div>
    <div class="col-md-4">
        @Html.Raw(Model.Content.GetPropertyValue("featureThree"))
    </div>
</div>