@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<html>
	<head>
		<title>CWS Start - The Umbraco MVC Starter Website</title>
	</head>
	<body>
		<h1>CWS Start</h1>
		@RenderBody()
	</body>
</html>