@using CWSStart.Web.CWSExtensions
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "CWS-Master.cshtml";
}

<h2>@DictionaryHelper.GetDictItem("VerifyEmail","Verify Email")</h2>
@Html.Action("RenderVerifyEmail", "AuthSurface")