#wrap > .container {
    padding: 60px 15px 0;
}

.navbar-form .form-control {
    width: auto;
}

#footer .text-muted {
    margin: 10px 0;
}

@media (min-width: 768px) {
    #wrap > .container {
        padding-top: 110px !important;
    }

    .navbar .navbar-form {
        float: none;
    }
}