#log-viewer {
    
}

#log-viewer table {
    border-spacing: 0 !important;
    width: 100%;
}

#log-viewer thead th {
    font-size: 14px;
    border-bottom: 2px solid #ccc;
    padding: 0 8px 2px 8px;
}

#log-viewer tbody td {
    padding:2px 8px;
}