@using System.Web.Mvc.Html
@using CWSStart.Web.CWSExtensions
@using Umbraco.Web

@if (Convert.ToBoolean(TempData["IsSuccessful"]))
{
    <div class="alert alert-success">
        <h4>@DictionaryHelper.GetDictItem("Success","Yay!")</h4>
        <p>@Html.Raw(DictionaryHelper.GetDictItem("EmailIsVerified","We have now verified your email address and can now <a href='/login' class='alert-link'>login</a>"))</p>
    </div>
}
else
{
   <div class="alert alert-danger">
        <h4>@DictionaryHelper.GetDictItem("Failure","Boo!")</h4>
        <p>@DictionaryHelper.GetDictItem("UnableToVerifyEmail","Unfortunately we was unable to verify you with those details, please try again")</p>
    </div>
}